* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

html,body {
    width: 100%;
}

.hero-page {
    width: 100%;
    height: 100vh;
    background-color:transparent;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height:auto ;
    }
}
@media(max-aspect-ratio:16/9) {
    .back-video {
        width:auto;
        height:100% ;
    }
}
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color:transparent;
}
.nav-logo img { 
    height:4.95vw;
    width: 6.5vw;
}
.nav-text ul a {
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
    font-size: 0.66rem;
    letter-spacing: 1px;
    padding-right: 8px;
    font-weight: 430;
}
.bottom-info{
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color:transparent;
    align-items: center;
    padding-bottom: 134px;
   background-color:transparent;
} 
.bottom-info h1 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    color: #fff;
}
.sub-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
   
}
.sub-info-icon h4 {
    font-size: 0.67rem;
    letter-spacing: 1.3px;
    color: #fff;
    font-weight: 300;
 }
 .icon-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 33px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    margin-left: 7px;
 }
.icon-1 i {
    font-size: 1rem;
    height:15px ;
    color: #fff;
}
.icon-container {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container i {
    color: #fff;
    font-size: 1.7rem;
    margin: 0;
}


/* main container css */ 

.main-container1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.sub-container {
    width: 100%;
    height: 88%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}
.text-box {
    width: 442px;
}
.sub-text1box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45%;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 1.7rem;
}
.sub-text1box h2 {
    font-size: 1.3rem;
    font-weight: 500;
}
.sub-text2box {
    height: 55%;
    width: 100%;
    padding-right: 9rem;
    padding-top: 2rem;
}
.sub-text2box p {
    font-size: 0.8rem;
}
.photo-box {
    padding-top: 1.5rem;
    width: 442px;
    
}
.photo-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info-one {
    display: flex;
   align-items: center;
   margin-top: 3rem;
}
.info-one h4 {
    font-size: 0.74rem;
    font-weight: 400;
}

.icon-2{
   height:32px ;
   width: 32px;
   border: 1.2px solid #000;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 0.5rem;
}
.icon-2 i {
    font-size: 0.8rem;
}

.bottom-content {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-content h4 {
    font-size: 0.67rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/* pic-card css */

.pic-container {
    display: flex;
    width: 100%;
    height: 520PX;
    background-color: #4e4e4e;
}
.card {
    position: relative;
    width: 50%;
    height: 100%;
    cursor: pointer;
    
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pic-text-info{
    margin: 0;
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155px;
    width: 100%;
}
.sub-text1{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.6px;
   
}
.sub-text2 {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.pic-text-info h1 {
    margin-top: 0.8rem;
    letter-spacing: 1.2px;
}
.info-two {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.icon-3 {
    height:32px ;
    width: 32px;
    border: 1.4px solid #c6c6c6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
 }
 .icon-3 i {
     font-size: 0.8rem;
     color: #fff;
 }
 

 /* footer css  */

 .foot-container-box1 {
    height: 69px;
    width: 100%;
    background-color: #303030;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.foot-container-box1 p {
   text-transform: uppercase;
   color: #fff;
   font-size: 0.67rem;
   letter-spacing: 1.2px;
 }
.foot-all-contant{
    width: 100%;
    background-color: #181818;
    padding-left:135px ;
    padding-right: 135px;
 }
.footer-box1{
    display: flex;
    height: 340px;
    width: 100%;
    border-bottom: 0.01px solid #313131;
 }
 .container {
    display: flex;
    justify-content: center;
    align-content: center;
    height:100%;
    width: 200px;
    /* border: 1px solid white; */
    padding: 1rem;
 }
 .text-items li {
    list-style-type: none;
 }
 .text-items li h4 {
    cursor: text;
    display: flex;
    justify-content: center;
    line-height: 10px;
    color: #fff;
    font-size: 0.68rem;
    padding:1.8rem 0 0.5rem 0 ;
    letter-spacing: 0.5px;
 }
.text-items li a { 
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 0.55rem;
    margin-top: 1.2rem;
    letter-spacing: 0.5px;
}
.footer-box2{
    display: flex;
    flex-wrap: wrap;
    height: 177px;
    width: 100%;
    border-bottom: 0.5px solid #313131;
    padding: 30px 0px;
}
.sub-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 40px;
    padding: 0 40px;

}
.sub-box i {
    cursor: pointer;
    font-size:0.85rem ;
    color: #fff;
}
.sub-box h6 {
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.footer-box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 100%; 
    gap: 0.75rem;   
}
.propTx {
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
.propTx p {
    display: flex;
    font-size: 0.45rem;
    color: #606060;
    line-height: 10px;
}

.footer-box4{
    display: flex;
    height: 92px;
    width: 100%;
    background-color: #303030;
    padding: 10px 140px;
}
.itemofText-foot {
    display: flex;
    flex-wrap: wrap;
    width:1050px;
    height: 100%;
    /* background-color: antiquewhite; */
}
.itemofText-foot li {
    list-style-type: none;
    margin-left: 0.6rem;
    padding: 5px 10px;
  
}
.itemofText-foot li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.56rem;
}
.loction {
    display: flex;
    margin-left: 0.6rem;
    padding: 5px 10px;
    width: 200px;
}
.loction h6{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    margin-left: 3.5rem;
    margin-top: 7px;
}
.loction i {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 0.88rem;
    color: #fff;
}
.footer-box5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100%;
    background-color: #181818;
}


.footer-box5 img {
    height: 23px;
}